@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Kristi);
@import url(http://fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic,700italic);
//@import "compass/reset";
@import "bootstrap-compass";
@import "bootstrap";

$color-1: #c8927e;
$color-2: #f1b5b5;
$color-3: #e6dce7;
$color-4: #9fd5f1;
$color-5: #70b6ea;

$intro-background: $color-4;
$intro-text: #fff;
$intro-text-amp: $color-3;
$intro-text-date: darken($intro-text, 10%);

$section-heading: #505050;
$text-color: #5f5f5f;

html,body {
  height: 100%;
}
body {
  font: 18px "Open Sans", sans-serif;
  color: $text-color;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", serif;
  font-weight: normal;
}

.container-table {
  display: table;
}
.vertical-center-row {
  display: table-cell;
  vertical-align: middle;
}

section {
  text-align: center;
  h2 {
    font-size: 2.5em;
    text-transform: uppercase;
    color: $section-heading;
  }
  h2:before {
    content: url(../images/heading-before.png);
    margin-right: 20px;
  }
  h2:after {
    content: url(../images/heading-after.png);
    margin-left: 20px;
  }
}
section#intro {
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  background-image: url(../images/strauss1.jpg);
  background-color: $intro-background;

  .big-title {
    font-family: "Playfair Display", serif;
    font-size: 120px;
    text-align: center;
    color: $intro-text;
    .amp {
      color: $intro-text-amp;
    }
    text-shadow: rgba(0,0,0,0.7) 2px 2px 2px;
  }
  .medium-title {
    font-family: "Playfair Display", serif;
    font-size: 40px;
    text-align: center;
    color: $intro-text;
    text-shadow: rgba(0,0,0,0.7) 2px 2px 2px;
  }
  .date {
    margin-top: 1em;
    font-family: "Playfair Display", serif;
    font-size: 40px;
    text-align: center;
    color: $intro-text-date;
    text-shadow: #444 1px 1px 2px;

  }
}

section#venue {
  h2 {
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .text {
    margin-bottom: 2em;
    a {
      color: darken($color-4, 15%);
    }
  }
}

section#photos {
  background-color: $color-4;
  color: #fff;
  padding-bottom: 2em;
  h2 {
    color: #fff !important;
    margin-top: 1em;
    margin-bottom: 1em;
  }
}

section#about {
  background-color: $color-4;
  color: #fff;
  padding-bottom: 2em;
  h2 {
    color: #fff !important;
    margin-top: 1em;
    margin-bottom: 1em;

  }
  h3 {
    font: 42px "Kristi", sans-serif;

  }
}

section#gifts {
  padding-bottom: 3em;
  .text {
    margin-bottom: 2em;
  }
  h2 {
    margin-top: 1em;
    margin-bottom: 1em;
  }
}


section#livestream {
  padding-bottom: 2em;

  background-color: $color-3;

  h2 {
    margin-top: 1em;
    margin-bottom: 1em;
    color: #505050 !important;
  }

  .player {
    margin: 2em auto;
    border: 1px solid #fff;
    background-color: #222;
    height: 540px;
    width: 90%;
    i {
      font-size: 80px;
      margin-top: 540px/2-40px;
      color: #fff;
    }
  }
}

section#footer {
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  background-image: url(../images/out.jpg);
  background-color: $intro-background;

  .big-title {
    font-family: "Playfair Display", serif;
    font-size: 120px;
    text-align: center;
    color: $color-4;
    .amp {
      color: $intro-text-amp;
    }
    text-shadow: rgba(0,0,0,0.7) 2px 2px 2px;
  }
  .date {
    margin-top: 1em;
    font-family: "Playfair Display", serif;
    font-size: 90px;
    font-weight: 600;
    text-align: center;
    color: $color-4;
    text-shadow: rgba(0,0,0,0.8) 2px 2px 2px;

  }

}

#amazon {
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/amazon.jpg");
  height: 40px;
  animation: all 0.5s ease-in-out 0.5s;

}
#amazon:hover {
  background-image: url("../images/amazon-hover.jpg");
}
#paypal {
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/paypal.png");
  height: 40px;
  animation: all 0.5s ease-in-out 0.5s;
}
#paypal:hover {
  background-image: url("../images/paypal-hover.png");
}

#ikea {
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/ikea.jpg");
  animation: all 0.5s ease-in-out 0.5s;
  height: 40px;

}
#ikea:hover {
  background-image: url("../images/ikea-hover.jpg");
}

#preload-01 { background: url("../images/paypal-hover.png") no-repeat -9999px -9999px; }
#preload-02 { background: url("../images/amazon-hover.jpg") no-repeat -9999px -9999px; }
#preload-03 { background: url("../images/ikea-hover.jpg") no-repeat -9999px -9999px; }
